<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Chakra</title>
    <link rel="shortcut icon" href="images/chakra.gif" />

    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="libs/codemirror/codemirror.css"/>
    <script src="libs/codemirror/codemirror.js"></script>
    <script src="mode/clike.js"></script>
    <script src="libs/codemirror/formatting.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <script src="libs/jquery.js"></script>
    <script src="app/chakra.js"></script>
    <script src="app/snippets/service.js"></script>
    <script src="app/snippets/snippet-controller.js"></script>
    <script src="app/snippets/runner.js"></script>
</head>
<body ng-app="chakra">
<div id="ide" ng-controller="EditorController">
    <div class="grey-text bg-grey strip">HelloWorld.java</div>
    <div id="editor"
         class="bordered">
         <textarea id="code-editor"
                   class="editor" ng-model="editor.snippet"></textarea>
    </div>
    <div id="action-buttons"
         class="text-right-aligned">
        <button id="run-button"
                class="grey-text"
                ng-click="editor.run()">run</button>
    </div>
    <div id="console"
         class="bordered">
        <div class="bordered bg-grey strip">console</div>
        <div id="console-output" class="strip">
            <p ng-repeat="message in editor.console.messages"
               ng-bind="message"
               class="no-margin"></p></div>
        <div id="error-output" class="strip">
            <p ng-repeat="message in editor.console.errors"
               ng-bind="message"
               class="no-margin"></p>
        </div>
    </div>
    <div id="loader" ng-show="editor.loader">
        <div id="loader-image"></div>
    </div>
</div>


</body>
</html>